.item:hover{
  background-color: rgb(240, 236, 236);
  cursor: pointer;
  
}


.item-dark:hover{
  background-color: rgb(54, 50, 50);
  cursor: pointer;
}

.menu-item{
border-bottom: 2px solid #f1993d;

}
.name{
  
  padding: 20px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

.img{
  width: 100%;
  height: 10%;
  border-radius: 40px;
}

.imgc{
  border-radius: 40px;
  width: 95%;
}

.css-i4bv87-MuiSvgIcon-root{
  color: #f3cfa8;
}

.label:hover{
  color: #f1993d;
  cursor: pointer;
}
.css-opt7yd-MuiStepIcon-text{
  color: #f1993d;
}
